@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');
*{
    box-sizing: border-box;
 
}

h2{
    font-family: 'Changa', sans-serif;
    font-size: 30px;

}
.item{
    font-family: 'Changa', sans-serif;
}
.courbe{
    margin-top: 30px;
    width: 100%;
}


.container{
    position: relative;
    width: 90%;
    left: 5%;
}
/* NavBar */
.item{
    color: crimson !important;
}
.welcome{
font-size: larger;
}
.userName{
color: coral !important;
}
/* NavBar */

ul li{
    list-style: none;
}
.side_container{
    margin-top: 30px !important;
}
iframe{
    width:100%;
    height: 320px;
}
.free_corona{
    font-size: 70px;
    color: rgb(200, 161, 88);
}
.center{
    text-align: center !important;
    padding: auto;
    font-size: 40px;
    color: rgb(200, 161, 88);

}
.sixteen{
    margin-top: 20px;
    text-align: center;
    font-family: 'Changa', sans-serif;
    
}